.widget {
	width: 320px;
	max-width: 320px;
	height: 270px;
	max-height: 270px;
	overflow-y: scroll;
	border: 1px solid lightgray;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.widget h3 {
	margin-top: 0px;
}

.widget h3 i {
	margin-right: 5px;
}