/* Overwriting styles of the jsGrid */

.jsgrid-cell {
  vertical-align: top;
}

.jsgrid-selected-row > .jsgrid-cell {
    background-color: #fdf5ce;
    border-color: #fdf5ce;
    color: #c77405;
}

.selected-row > .jsgrid-cell {
    background-color: #f6a828;
    border-color: #f6a828;
    color: #ffffff;
}

.selected-row > .jsgrid-cell .rating-star {
    color: #ffffff;
}


.selected-row > .jsgrid-cell .rating-star--checked {
    color: #e78f08;
}
