.actionBanner {
    border: 1px solid #3f7506;
    background-color: #3a8104;
    color: #ffffff;
    display: none;
    position: fixed;
    top: 20%;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
}