#path {
    /*float: left;*/
    width: 85%;
}

/*#tree {
    width: 30%;
    float: left;
    overflow-x: scroll;
}*/

#grid {
    width: 100%;
}

.selected-row,
.selected-row td.jsgrid-cell {
    background: #c4e2ff;
    border-color: #c4e2ff;
}

#toolBar {
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 0px;
}

#toolBar li {
    display: inline;
}
