#path {
    width: 100%;
}

#tree {
    width: 30%;
    float: left;
    overflow-x: scroll;
}

#grid {
    width: 70%;
    float: left;
}

i.root {
   color: Black;   
}

i.node {
   color: #e78f08;
}

i.leaf {
   color: SteelBlue;
}