#path {
    float: left;
    width: 85%;
}

#tree {
    width: 30%;
    float: left;
    overflow-x: scroll;
}

#grid {
    width: 70%;
    float: left;
}

.selected-row,
.selected-row td.jsgrid-cell {
    background: #c4e2ff;
    border-color: #c4e2ff;
}

#toolBar {
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 5px;
}

#toolBar li {
    display: inline;
}

#create,
#edit,
#move,
#delete {
    padding: 5px;
}

#create:hover,
#edit:hover,
#move:hover,
#delete:hover {
    color:azure;
    background-color: SteelBlue;
}

#create.disabled,
#edit.disabled,
#move.disabled,
#delete.disabled {
    padding: 5px;
    color: #969696;
}

#create.disabled:hover,
#edit.disabled:hover,
#move.disabled:hover,
#delete.disabled:hover {
    color: #969696;
    background-color: inherit;
}

.fa-door,
.fa-door-open,
.fa-folder,
.fa-folder-open,
.fa-tags {
   color: Black;   
}

.fa-box,
.fa-box-open,
.fa-calendar-alt,
.fa-tag  {
    color: #e78f08;
}

.fa-puzzle-piece,
.fa-map-marker{
   color: SteelBlue;
}

.fa-flag {
    color: #b81900;
}

.fa-map {
    color: #67b021;
}