/* colors */

.formBlock .fieldBlock {
	border-color: DarkGray;
}

.formBlock .fieldValue div[name=messages] {
	color: #b81900;
}

/* boxing and sizing */

.formBlock {
	padding-right: 20px;
}

.formBlock .fieldBlock {
	margin-bottom: 15px;
	padding-top: 10px;
	overflow: hidden;

    min-height: 25px;
    overflow: auto;
}

.formBlock .fieldBlock:not(:first-of-type) {
	border-top: 1px dashed;
}

.formBlock .fieldBlock input[type="text"],
.formBlock .fieldBlock textarea,
.formBlock .fieldBlock select {
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
	line-height: 28px;
	font-size: 16px;
}

.clear {
    clear: both;
}

.fieldDescription {
	width: 100%;
}

.fieldValue {
	width: 100%;
}

@media only screen and (min-width: 981px) {
	.formBlock .fieldBlock > div {
   	float: left;
	}
}

img.preview {
	height: 200px;
}

.fieldDescription label{
    line-height: 19px;
}

.formBlock .fieldBlock {
    vertical-align: middle;
}

.formBlock .fieldBlock ul {
    margin-top: 0px;
}

#toolBar {
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 0px;
	display: flex;
}

#toolBar li {
    display: inline;
}

.editable-list ul {
	margin: 0;
	padding: 0;
}

.editable-list ul li {
	list-style: none;
	padding-bottom: 5px;
}

#divMap{
	height: 300px;
	width: 100%;
}

@media only screen and (min-width: 981px) {
	#divMap{
		height: 600px;
	}
}

#canvasVideoScrean {
	height: 300px;
	width: 100%;
}
