/* colors */
.formBlock .fieldBlock {
	margin-bottom: 10px;
	padding-top: 5px;
	border-top: 1px dashed;
	overflow: hidden;
}

.formBlock .buttonBlock {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px dashed;
}

.formBlock .fieldBlock {
	border-color: DarkGray;
}

.formBlock .buttonBlock {
	border-color: DarkGray;
}

/* boxing and sizing */
.formBlock {
	padding-right: 20px;
}

.formBlock .fieldBlock {
    min-height: 25px;
    overflow: auto;
}

.formBlock .fieldBlock div {
    float: left;
}

.formBlock .fieldBlock input[type="text"],
.formBlock .fieldBlock textarea,
.formBlock .fieldBlock select {
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
}

.formBlock .fieldBlock 
input[type="button"] {
	float: right;
}

.clear {
    clear: both;
}

.fieldDescription {
	width: 200px;
}

.fieldValue {
	width: 514px;
}

.fieldDescription label{
    line-height: 19px;
}

.formBlock .fieldBlock {
    vertical-align: middle;
}

.formBlock .fieldBlock ul {
    margin-top: 0px;
}