/* colors */
.formBlock .fieldBlock {
	margin-bottom: 10px;
	padding-top: 5px;
	border-top: 1px dashed;
	overflow: hidden;
}

.formBlock .buttonBlock {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px dashed;
}

.formBlock .fieldBlock {
	border-color: DarkGray;
}

.formBlock .buttonBlock {
	border-color: DarkGray;
}

/* boxing and sizing */
.formBlock {
	padding-right: 20px;
}

.formBlock .fieldBlock {
    min-height: 25px;
    overflow: auto;
}

.formBlock .fieldBlock div {
    float: left;
}

.formBlock .fieldBlock input[type="text"] {
	min-width: 200px;
	width: 99%;
}

.formBlock .fieldBlock textarea {
	min-width: 200px;
	width: 99%;
	height: 100px;
	resize: vertical;
}

.formBlock .fieldBlock select {
	min-width: 204px;
	width: 100%;
}

.formBlock .fieldBlock 
input[type="button"] {
	float: right;
}

.clear {
    clear: both;
}

.fieldDescription label{
    line-height: 19px;
}

.formBlock .fieldBlock {
    vertical-align: middle;
}

.formBlock .fieldBlock ul {
    margin-top: 0px;
}