/* Overwriting styles of the jsGrid */

.jsgrid-selected-row > .jsgrid-cell {
    background-color: #fdf5ce;
    border-color: #fbcb09;
    color: #c77405;
}

.selectedRow > .jsgrid-cell {
    background-color: #f6a828;
    border-color: #e78f08;
    color: #ffffff;
}