/*********/
/* sizes */
/*********/

html, body {
	height: 100%;
    width: 100%;
	margin: 0px;
	padding: 0px;
}

#content {
    padding-top: 76px; /* = outer height of #navigation + outer height of #breadcrumb */
}

.form {
    padding-left: 16px;
}

.dialog {
	width: 80%;
}


/**********/
/* colors */
/**********/

html, body {
	font-family: Verdana, Arial;
	background-color: #eeeeee;
	color: #333333;
}

a {
	color: SteelBlue;
}

.selectedRow .fa-box,
.selectedRow .fa-box-open,
.selectedRow .fa-calendar-alt,
.selectedRow .fa-tag  {
    color: white;
}

.fa-question-circle {
	color: SteelBlue;
}

.linkButton {
    padding: 5px;
    color:#333333;
    text-decoration: none
}

.linkButton label {
    padding-left: 5px;
}

.linkButton:hover {
    color:azure;
    background-color: SteelBlue;
}

.linkButton.riskyAction {
    padding: 5px;
    color:#333333;
}

.linkButton.riskyAction:hover {
    color:azure;
    background-color: #b81900;
}

.linkButton.disabled {
    padding: 5px;
    color: #969696;
}

.linkButton.disabled:hover {
    color: #969696;
    background-color: inherit;
}

/**************/
/* visibility */
/**************/

.dialog {
	display: none;
}
