/*********/
/* sizes */
/*********/

html, body {
	height: 100%;
    width: 100%;
	margin: 0px;
	padding: 0px;
}

#content {
    padding-top: 76px; /* = outer height of #navigation + outer height of #breadcrumb */
}

.form {
    padding-left: 16px;
}

.dialog {
	width: 80%;	
}


/**********/
/* colors */
/**********/

html, body {
	font-family: Verdana, Arial;
	background-color: #eeeeee;
	color: #333333;
}

.fa-question-circle {
	color: SteelBlue;
}


/**************/
/* visibility */
/**************/

.dialog {
	display: none;
}