html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.topNavigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.topNavigation li {
	float: left;
}

.topNavigation li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topNavigation li a:hover:not(.active) {
}

.topNavigationSubMenu {
	position: absolute;
	z-index: 999 !important;
	width: 100%;
	display: none;
}

.topNavigationSubMenu a {
	display: block;
}

.topNavigationSubMenu a:hover {
}

.topNavigationSubMenu div {
	padding: 0px 0px 15px 25px;
}

.topNavigationSubMenu .close {
	float: right;
}

nav div {
	float: left;		
}

#divBreadcrumb {
	padding: 10px 0px 10px 15px;	
}

#divContent {
	height: 100%;
}

#divLeft {
	
}

#divLeftContent {
	height: 100%;
}

#divRight {	
}

#divForm {
	overflow: auto;
}

#divFormContent {
	padding: 15px;
	height: 100%;
}

#divButtons {
	position: fixed;
	padding:  15px 15px 15px 15px;
	bottom: 0px;
}

#divButtons input[type=button] {
	float: right;
}

#divButtons input[value=Löschen] {
	float: left;
}

.feld {
	padding-bottom: 30px;		
}

.feld input[type=text] {
	margin-left: 40px;
}

input[type=text] {
    width: 300px;
}
