php_value max_input_vars 10000

RewriteEngine	On
RewriteRule "^Services/(\w+)/?$"                                    "Services/$1.php"                           [NC,L]
RewriteRule "^Services/(\w+)/([\d;]+)/?$"                           "Services/$1.php?Id=$2"                     [NC,L]

RewriteRule	"^Services/Sitemap/?$"									"Services/Sitemap.php"						[NC,L]
RewriteRule	"^Services/Sitemap/([\w]+)/?$"							"Services/Sitemap.php?PageName=$1"			[NC,L]
RewriteRule	"^Services/Sitemap/([\w]+)/WithPath/?$"					"Services/Sitemap.php?PageName=$1&WithPath=true"							[NC,L]